In [ ]:
import numpy as np

four = np.array([1,2,3,4]*10)
four

array([1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2,
       3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])

In [ ]:
import numpy as np

sixBySix = np.ones([6,6])
sixBySix[1:5,1:5] = 0
sixBySix

array([[1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1.]])

In [ ]:
import numpy as np

checker = np.indices([8,8]).sum(axis=0) % 2
checker

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

In [ ]:
a = [[0]]
#each subsequent line adds a layer
a = np.pad(a, ((1, 1), (1, 1)), constant_values=1)
a = np.pad(a, ((1, 1), (1, 1)), constant_values=2)
a = np.pad(a, ((1, 1), (1, 1)), constant_values=3)
a = np.pad(a, ((1, 1), (1, 1)), constant_values=4)
a = np.pad(a, ((1, 1), (1, 1)), constant_values=5)


a

array([[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5],
       [5, 4, 3, 3, 3, 3, 3, 3, 3, 4, 5],
       [5, 4, 3, 2, 2, 2, 2, 2, 3, 4, 5],
       [5, 4, 3, 2, 1, 1, 1, 2, 3, 4, 5],
       [5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5],
       [5, 4, 3, 2, 1, 1, 1, 2, 3, 4, 5],
       [5, 4, 3, 2, 2, 2, 2, 2, 3, 4, 5],
       [5, 4, 3, 3, 3, 3, 3, 3, 3, 4, 5],
       [5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]])

In [ ]:
import numpy as np
redo =  np.array([[-np.inf, 2, 3], [-np.inf, -np.inf, 4], [1, 5, 6]])
newDim = (redo.shape[0]*redo.shape[1])
redo = list(redo.reshape(newDim))
print(redo)
total = [0,0]
for i in range(9):
  if (redo[i] != -np.inf): total = [sum(value) for value in zip(total, [1,redo[i]] )]
redo = np.array(list(map(lambda x: total[1]/total[0] if(x == -np.inf) else x, redo))).reshape([3,3])
redo

[-inf, 2.0, 3.0, -inf, -inf, 4.0, 1.0, 5.0, 6.0]

array([[3.5, 2. , 3. ],
       [3.5, 3.5, 4. ],
       [1. , 5. , 6. ]])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
nums = pd.read_csv("/content/drive/MyDrive/data/numbers.csv")
sorted = nums.loc[:].to_numpy()
trial_series = list(map(lambda x: x.sort(),sorted))
nums['third_smallest'] = pd.Series(sorted[:,2], index = list(range(20)))
nums

,num1,num2,num3,num4,num5,num6,num7,num8,num9,num10,third_smallest
0,17,33,37,49,51,70,80,94,96,99,37
1,3,8,8,30,42,52,54,63,73,84,8
2,22,44,49,55,55,63,67,80,82,93,49
3,11,15,31,50,54,59,66,74,75,85,31
4,4,8,27,28,32,34,36,75,80,85,27
5,15,21,22,30,31,44,68,68,91,92,22
6,5,12,15,23,32,50,60,84,84,96,15
7,10,30,35,35,45,49,75,75,77,84,35
8,4,16,24,26,30,48,52,53,72,76,24
9,16,16,17,21,23,35,65,67,70,75,17
10,15,19,30,55,65,69,81,86,95,95,30
11,11,14,15,19,23,29,29,36,62,97,15
12,46,48,49,58,62,63,75,76,86,97,49
13,8,12,32,35,44,45,49,64,65,94,32
14,19,23,38,45,45,52,53,56,70,72,38
15,10,36,41,43,47,53,53,67,72,76,41
16,1,16,32,42,43,54,65,69,89,97,32
17,17,46,53,59,63,65,73,90,91,92,53
18,1,15,16,16,26,28,62,86,89,99,16
19,9,10,54,55,57,67,80,82,83,86,54

In [83]:
from re import sub
from decimal import Decimal

value = Decimal(sub(r'[^\d.]', '', x))
import pandas as pd
cuis = pd.read_csv("/content/drive/MyDrive/data/meals.csv").drop(['id'],axis=1)#.groupby('cuisine'))#.mean(axis = 1)
#means = means.groupby(['cuisine']).mean()#.sort_values(by=['price'])
#"cuis = pd.DataFrame(cuis['price'])#.agg(np.mean))  
#cuis.loc[:,1].to_numpy()
cuis.sort_values(by='cuisine')

chin = cuis[cuis['cuisine']=='Chinese']
list(chin['price'])#.mean()

NameError: ignored


5. Given the 2D numpy array [[-np.inf, 2, 3], [-np.inf, -np.inf, 4], [1, 5,
6]], replace the negative infinity values with the average of the positive values in the
array. Thus, the negative infinity values in this case should be replaced by 3.5 as
(1+2+3+4+5+6)/6 = 3.5. Calculate this average programmatically (do not just plug the
value 3.5 in manually).
6. Our class data folder is here:
https://drive.google.com/drive/folders/1-
GKCGczNYt_4hBECuNBytOPX7QXBxBVS?usp=sharing
Using pandas, import the file "numbers.csv" in our class data folder into a dataframe.
Given this dataframe, which has ten columns, num1 to num10, add a new column
named “third_smallest” which contains the third unique smallest value in each row of
the dataframe.
7. Using pandas, import the file "meals.csv" in our class data folder into a dataframe.
Each row represents the cost of a meal of a particular type (cuisine, e.g. Indian, Italian,
Chinese, etc.)
Given the meals dataframe, find the five cuisines with the highest maximum meal prices
and show them in reverse order. That is, the cuisine having the highest maximum price
should be shown first.
8. Again using the meals dataframe, find the total number of meals and the average
price of a meal for each cuisine, sorted in ascending order by average price.
9. Given the following dataframe, create a new dataframe that tells us the number of
students enrolled in a particular course and sort them in a descending order based on
number of students.
  students = pd.DataFrame(
  {
  "id": range(101, 111),
  "courses": [
  ["A", "B", "C"],
  ["A", "B", "E"],
  ["B", "D", "E"],
  ["C", "D", "F"],
  ["A", "D", "F"],
  ["B", "C", "E"],
  ["A", "D", "E"],
  ["C", "E", "F"],
  ["D", "E", "F"],
  ["B", "E", "F"],
  ],
  }
  )
10. Using pandas, import the file "stock_prices.csv" in our class data folder into a
dataframe.
Given the stock prices dataframe, find the percentage price change for all tickers (note:
a ticker is a stock symbol with column name: "ticker") for all the dates for that ticker.
Use the column "adj close" for the price. Add the p. Add the percentage change to the dataframe
as a new column called “percentage_change”.

In [ ]:
import pandas as pd

students = pd.DataFrame(
 {
 "id": range(101, 111),
 "courses": [
 ["A", "B", "C"],
 ["A", "B", "E"],
 ["B", "D", "E"],
 ["C", "D", "F"],
 ["A", "D", "F"],
 ["B", "C", "E"],
 ["A", "D", "E"],
 ["C", "E", "F"],
 ["D", "E", "F"],
 ["B", "E", "F"],
 ],
 }
)
long_list = []
for array in students["courses"].to_numpy():
  long_list += array
freq = {}
for item in long_list:
    if (item in freq):
        freq[item] += 1
    else:
        freq[item] = 1
print(freq)
freq = pd.DataFrame([freq['A'],freq['B'],freq['C'],freq['D'],freq['E'], freq['F']], index = ['A','B','C','D','E','F']).sort_values(by=[0],ascending = False)
freq

{'A': 4, 'B': 5, 'C': 4, 'E': 7, 'D': 5, 'F': 5}

   0
E  7
B  5
D  5
F  5
A  4
C  4

In [ ]:
import pandas as pd
stocks = pd.read_csv("/content/drive/MyDrive/data/stock_prices.csv")['ticker','adj close']#.groupby(['ticker'])
stocks = pd.DataFrame(stocks).pct_change()
for i in range(1,7):
  stocks

KeyError: ignored